[submodule "BGHUDAppKit"]
	path = BGHUDAppKit
url=https://github.com/AnakinMac/BGHUDAppKit.git
[submodule "UniversalDetector"]
	path = UniversalDetector
url=https://github.com/AnakinMac/UniversalDetector.git
