/MPlayerX/MPlayerX.xcodeproj/NILTSH.mode1v3
/MPlayerX/MPlayerX.xcodeproj/NILTSH.pbxuser
/MPlayerX/build
/MPlayerX/MPlayerX.xcodeproj/project.xcworkspace/xcuserdata/NILTSH.xcuserdatad/UserInterfaceState.xcuserstate
/MPlayerX/MPlayerX.xcodeproj/xcuserdata/NILTSH.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/MPlayerX/MPlayerX.xcodeproj/project.xcworkspace/xcuserdata/
/MPlayerX/DerivedData/
/MPlayerX/MPlayerX.xcodeproj/project.xcworkspace/xcshareddata/
/MPlayerX/MPlayerX.xcodeproj/xcuserdata/NILTSH.xcuserdatad/xcdebugger/