body {
	background-image: url(images/background.png);
}

img.main-brand-dock {
	position:absolute;
	left:1.5%;
	bottom:0px;
}

img.main-brand-dock-small {
	position:absolute;
	left:0%;
	bottom:0px;
}

div.main-brand-text-block {
	position:absolute;
	top:10%;
	width:97%;
}

div.main-brand-text-block-small {
	position:absolute;
	top:10%;
	width:100%;
}

.main-brand-text {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	color: rgb(238,238,238);
	text-align:center;
}