header, section, footer, aside, nav, article, figure {
	display: block;
}

a {
	text-decoration:none;
	color:#08c;
}

.clear {
  clear: both;
}

body {
	background: #f5f5f5;
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Trebuchet MS', Trebuchet, Arial, sans-serif;
	line-height: 1.2;
	text-align: left;
	
	width: 800px;
	margin: 20px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

#banner {
	padding: 1px 16px 1px 16px;
}

#banner h1 {
	float: left top;
	color: #404040;
	font-size: 2.2em;
	font-weight: 700;
	line-height: 0.9;
	font-family: Georgia, "Times New Roman", Times, serif;
	
	margin: 8px 0px 0px 0px;
}

#banner h1:hover {
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

#banner h1 strong, #banner h1 strong:hover{
	color: #808080;
	font-size: 0.45em;
	font-weight: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	line-height: 0.8;
	
	text-shadow: none;
	-webkit-font-smoothing: antialiased;
}

#banner img {
	width: 55px;
	height: 55px;
	
	border:none;
	
	float: left;

	vertical-align: text-top;
	margin: 8px 16px 8px 0px;
}

@-webkit-keyframes heartbeat {
	0% {
		-webkit-transform: scale(1.0) rotate(0deg);
	}
	15% {
		-webkit-transform: scale(1.15) rotate(0deg);
	}
	35% {
		-webkit-transform: scale(1.0) rotate(0deg);
	}
	70% {
		-webkit-transform: scale(1.25) rotate(0deg);
	}	
	100% {
		-webkit-transform: scale(1.0) rotate(0deg);
	}
}

#banner img:hover {
	-webkit-animation-name: heartbeat;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}

nav ul {
	background-color: #107090;
	
	border-style: solid;
	border-width: 1px;
	border-color: #707070;

	list-style-type: none;
	
	padding-right: 4px;
	padding-left: 4px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#606060)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #8a8a8a,  #606060); /* for firefox 3.6+ */

	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

nav ul li {
	text-shadow: 0px 0px 2px rgba(40, 40, 40, 0.7);
	
	padding: 8px 12px 8px 12px;

	list-style-type: none;
	text-align: center;
	float: left;
}

nav ul li a {
	font-weight: 600;
	color: #FFFFFF;
}

nav ul li a:hover, nav ul li:hover {
	text-shadow: 0px 0px 2px rgba(40, 40, 40, 0.7);

	background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#404040)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #505050,  #404040); /* for firefox 3.6+ */
}

section {
	background-color: #FFFFFF;
	clear: both;
	
	padding: 12px;
	
	margin-top: 2px;
	margin-bottom: 2px;
	
	color: #686868;
	border: none;
}

section:hover {
	background-color:#fCfCfC;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	-moz-box-shadow: inset 0px 0px 12px rgba(0, 0, 0, .6);
	-webkit-box-shadow: inset 0px 0px 12px rgba(0, 0, 0, .6);
}

section h3 {
	margin: 2px;
	
	color: #0050a0;
	font-size: 1.5em;
	font-weight: 600;
	text-shadow: 0px 0px 2px rgba(0, 40, 80, 0.5);
}

section h3 a {
	color: #0050a0;
}

section hr {
	height: 1px;
	color: #f0f0f0;
	background-color: #f0f0f0;
	border: none;
}

section p {
	text-indent: 1em;
	margin: 4px 0px 4px 0px;
}

#outframe {
	background-color:#FFFFFF;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);	
}

#outframe:hover {
	border: none;
}

#Home {
}

.brieflist {
	clear:both;
	width: 100%;
	margin: 12px auto 0px auto;
	background: none;
}

.brief {
	float: left;
	
	margin: 0px;
	width: 248px;
	
	text-align: left;
}

.brief h4 {
	text-align: center;
	margin: 12px auto;
}

.brief p {
	margin: 12px;
	text-indent: 1em;
	font-size: 0.8em;
}

#Features {
}

#Features ul li {
	line-height: 1.5;
}

#Snapshots {
}

#Snapshots img {
	width: 200px;
	margin: 1px;
	padding: 1px;
	border: none;
}

#Snapshots img:hover {
	border-style: solid;
	border-width: 3px;
	border-color: #0050a0;
}

#Download {
}

#Download h4 {
	margin: 8px 0px 4px 8px;
	padding: 0px;
	font-weight: 600;
}

#Download p {
	margin-left: 8px;
	text-indent: 1em;
}

#contact p {
	margin-left: 8px;
	text-indent: 1em;
}

#contact ul li span {
	font-size: 0.8em;
	color: #909090;
}

#credits ul li {
	font-size: 0.95em;
	color: #000000;
}

#credits ul li span {
	font-size: 0.95em;
	color: #686868;
}

#donate p strong {
	color: #E00000;
	font-weight: 400;
}

#donateForm {
	margin: 15px 0px 15px 0px;
}

#releaselist ul li {
	list-style: none;
	clear: both;
}

#releaselist ul li h4 {
	margin: 4px;
}

.releaseNote {
	display: none;
	line-height: 1.3em
}

.releaseNote p {
	margin: 4px 40px 4px 4px;
}

.releaseTime {
	display: none;
	margin: 4px;
}

#releaselist li:hover, #releaselist li:hover ul li {
	list-style: disc;
}

#releaselist li:hover .releaseNote, #releaselist li:hover .releaseTime {
	display:block;
}

footer {
	font-size: 0.8em;
	clear: both;
	color: #686868;
	padding: 0px 20px;
	text-align: center;
}

footer a {
	color: #08c;
}
