.borderimage {
    padding:4px;
    border:1px solid #dddddd;
    border-right:1px solid #c0c0c0;
    border-bottom:1px solid #c0c0c0;
    -moz-box-shadow: 2px 2px 3px #CCCCCC;
    -webkit-box-shadow: 2px 2px 3px #CCCCCC;
    box-shadow: 2px 2px 3px #CCCCCC;
}

#releaselist {
    font-size:12pt;
    color:#3F3F3F;
    font-weight:normal;
	margin: 4px;
}
.releaseTitle {
    margin-top:16px;
    font-weight:bold;
}
.releaseTime, #releaselist ul li p {
    font-size:10pt;
    margin: 4px;
}
.releaseNote ul {
    list-style-type: disc;
    font-size:10pt;
    margin: 4px 20px;
}

.bindownloadbtn {
    display:block;
    border-top: 1px solid #4494f5;
    background: #00265c;
    background: -webkit-gradient(linear, left top, left bottom, from(#1f67bf), to(#00265c));
    background: -webkit-linear-gradient(top, #1f67bf, #00265c);
    background: -moz-linear-gradient(top, #1f67bf, #00265c);
    background: -ms-linear-gradient(top, #1f67bf, #00265c);
    background: -o-linear-gradient(top, #1f67bf, #00265c);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Helvetica Neue', FreeSans, Arial, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    width:200px;
    height:24px;
    text-align:center;
    margin:16px auto;
    padding:15px 4px 17px 4px;
}
.bindownloadbtn:hover {
    border-top-color: #00265c;
    background: #00265c;
    color: #ffffff;
}
.bindownloadbtn:active {
    border-top-color: #001b40;
    background: #001b40;
    top:1px;
}

.subzone ul {
    list-style-type: disc;
    margin: 4px 20px;
}
.subzone h1 {
    font-weight:bold;
    font-size:20pt;
    color:#2F2F2F;
    margin-bottom:16px;
    text-shadow:rgba(0, 0, 0, 0.398438) 1px 1px 1px;
}
.subzone p, .subzone ul li {
    font-weight:normal;
    margin-left:32px;
    margin-right:32px;
    font-size:12pt;
    color:#3F3F3F;
    text-shadow:none;
}
.subzone p a, .subzone ul li a {
    text-decoration:none;
    color:#08c;
}

.subzone {
    float:left;
    position:relative;
    margin:26px;
    display:block;
    width:96%;
}

.mainfeature {
    margin: 16px;
    position: relative;
    float: none;
}
.mfimage {
    position: relative;
    float: left;
    width: 480px;
    margin: 16px 0px 32px 0px;
}
.mfdesc {
    position: relative;
    float: left;
    width: 400px;
    margin: 24px 32px 4px 32px;
}

.mfdesc h1 {
    margin: 16px 0px;
    font-size: 20pt;
    font-weight: bold;
    text-shadow:rgba(0, 38, 92, 0.298438) 1px 1px 1px;
    color:#00265c;
}
.mfdesc p {
    line-height:150%;
    color:#3F3F3F;
}
.mfdesc p a {
    text-decoration:none;
    color:#08c;
}
.mfhline {
    width:96%;
}

.secondaryfeature {
    position: relative;
    float: left;
    width: 220px;
    padding: 8px;
}
.secondaryfeature h1 {
    text-align:center;
    font-weight:bold;
    margin-bottom: 8px;
}
.secondaryfeature p {
    font-size:10pt;
    color:#3F3F3F;
}
.secondaryfeature p a {
    text-decoration:none;
    color:#08c;
}

.slidesPrevious, .slidesNext, .slidesPagination {
    display: none;
}

.clear {
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: block;
}

#footer {
    position:relative;
    text-align:center;
    font-size:8pt;
    font-weight:normal;
    font-family:'Helvetica Neue', FreeSans, Arial, sans-serif;
    color:#3F3F3F;
    margin-bottom:4px;
}

#maincatchyphrase {
    position:relative;
    float:none;
    display:block;
    text-align:center;
    font-size:28pt;
    font-weight:bold;
    font-family:'Helvetica Neue', FreeSans, Arial, sans-serif;
    margin:4px auto 4px auto;
    letter-spacing:-1px;
    background-image:-webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(150, 150, 150) 100%);
    text-shadow:rgba(0, 0, 0, 0.298438) 1px 1px 1px;
}

#secondcatchyphrase {
    position:relative;
    float:none;
    display:block;
    text-align:center;
    font-family:'Helvetica Neue', FreeSans, Arial, sans-serif;
    margin:4px auto 4px auto;
    font-size:12pt;
    font-weight:normal;
    color:#808080;
}

.shadowframe {
    min-height:100px;
    -webkit-box-shadow:rgb(150, 150, 150) 0px 0px 4px;
    box-shadow:rgb(150, 150, 150) 0px 0px 4px;
    -o-box-shadow:rgb(150, 150, 150) 0px 0px 4px;
    -ms-box-shadow:rgb(150, 150, 150) 0px 0px 4px;
    -moz-box-shadow:rgb(150, 150, 150) 0px 0px 4px;
    -webkit-border-bottom-left-radius:6px;
    border-bottom-left-radius:6px;
    -o-border-bottom-left-radius:6px;
    -ms-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-right-radius:6px;
    -o-border-bottom-right-radius:6px;
    -ms-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius:6px;
    -o-border-top-left-radius:6px;
    -ms-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    -webkit-border-top-right-radius:6px;
    border-top-right-radius:6px;
    -o-border-top-right-radius:6px;
    -ms-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    background-image:-webkit-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
	background: -webkit-linear-gradient(top, #F9F9F9, #EAEAEA);
    background: -moz-linear-gradient(top, #F9F9F9, #EAEAEA);
    background: -ms-linear-gradient(top, #F9F9F9, #EAEAEA);
    background: -o-linear-gradient(top, #F9F9F9, #EAEAEA);
    margin:16px auto 16px auto;
    font-family:'Helvetica Neue', FreeSans, Arial, sans-serif;
}

#featurezone {
    width:980px;
    padding:8px 4px 8px 4px;
    float:none;
    height:auto;
}

#sharezone {
    float:left;
    width:530px;
    margin:0px auto 8px 6px;
    padding:16px 16px 8px 86px;
    height:120px;
}

#donatezone {
    float:left;
    width:342px;
    margin:0px 6px 8px 6px;
    padding:16px 4px 8px 4px;
    height:120px;
}

.menuitem {
    float:left;
    margin-right:16px;
    margin-left:16px;
    font-family:'Helvetica Neue', FreeSans, Arial, sans-serif;
    display:block;
    font-size:12pt;
    color:#3F3F3F;
    padding-bottom:4px;
    cursor:pointer;
}

.menuitem a {
    text-decoration:none;
    color: #3F3F3F;
    display:block;
}

.menuitem a:hover {
    text-decoration:none;
    color:#3F3F3F;
    display:block;
    text-shadow:rgba(0, 0, 0, 0.698438) 0px 0px 2px;
}

nav {
    width:auto;
    height:auto;
    min-height:20px;
    min-width:200px;
    margin-right:30px;
    float:right;
    position:relative;
    margin-top:16px;
}

.gradienttext {
    background-repeat-x:no-repeat;
    background-repeat-y:no-repeat;
    background-repeat:no-repeat;
    background-attachment:initial;
    background-position:initial initial;
    background-position-x:initial;
    background-position-y:initial;
    background-origin:initial;
    background-clip:initial;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-image:-webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(180, 180, 180) 100%);
    color:#191919;
}

#maintitle {
    float:left;
    position:relative;
    margin-left:8px;
    margin-top:28px;
    font-family:'Droid Serif', 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size:48px;
    text-shadow:rgba(0, 0, 0, 0.298438) 1px 1px 1px;
    display:block;
    padding:0px 10px 0px 0px;
    letter-spacing:-2px;
}

#mainicon {
    float:left;
    margin-top:16px;
    margin-left:16px;
    width:80px;
    height:80px;
}

#content {
    float:none;
    margin-left:auto;
    margin-right:auto;
    display:block;
    height:auto;
    width:1000px;
    position:relative;
    min-height:800px;
}

body {
    font-family:'Helvetica Neue', FreeSans, Arial, sans-serif;
    background-image:url(images/bg.png);
    background-repeat-x:repeat;
    background-repeat-y:repeat;
    background-repeat:repeat;
}

