<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>doc_audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Audio Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.niltsh.mplayerx-aac</string>
				<string>org.niltsh.mplayerx-ac3</string>
				<string>public.aifc-audio</string>
				<string>public.aiff-audio</string>
				<string>public.ulaw-audio</string>
				<string>org.niltsh.mplayerx-monkeyaudio</string>
				<string>com.apple.coreaudio-format</string>
				<string>org.niltsh.mplayerx-flac</string>
				<string>public.mpeg-4-audio</string>
				<string>org.niltsh.mplayerx-midi</string>
				<string>org.niltsh.mplayerx-matroska-audio</string>
				<string>public.mp3</string>
				<string>org.niltsh.mplayerx-ogg</string>
				<string>org.niltsh.mplayerx-pcm</string>
				<string>com.real.realaudio</string>
				<string>com.microsoft.waveform-audio</string>
				<string>com.microsoft.windows-media-wma</string>
				<string>com.microsoft.windows-media-wmx</string>
				<string>com.microsoft.advanced-stream-redirector</string>
				<string>public.audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>doc_video.icns</string>
			<key>CFBundleTypeName</key>
			<string>Video Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.3gpp2</string>
				<string>public.3gpp</string>
				<string>com.microsoft.advanced-systems-format</string>
				<string>public.avi</string>
				<string>org.niltsh.mplayerx-divx</string>
				<string>public.dv-movie</string>
				<string>org.niltsh.mplayerx-dv</string>
				<string>org.niltsh.mplayerx-flash-video</string>
				<string>org.niltsh.mplayerx-mts</string>
				<string>org.niltsh.mplayerx-m4v</string>
				<string>org.niltsh.mplayerx-matroska-video</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.mpeg-4</string>
				<string>public.mpeg</string>
				<string>org.niltsh.mplayerx-mxf</string>
				<string>org.niltsh.mplayerx-ogg-video</string>
				<string>com.apple.quartz-composer-composition</string>
				<string>com.real.realmedia</string>
				<string>org.niltsh.mplayerx-rmvb</string>
				<string>org.niltsh.mplayerx-video-object</string>
				<string>com.microsoft.windows-media-wm</string>
				<string>com.microsoft.windows-media-wmv</string>
				<string>com.microsoft.windows-media-wmp</string>
				<string>org.niltsh.mplayerx-xvid</string>
				<string>public.movie</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>doc_sub.icns</string>
			<key>CFBundleTypeName</key>
			<string>Subtitle</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.niltsh.mplayerx-subrip</string>
				<string>org.niltsh.mplayerx-ass</string>
				<string>org.niltsh.mplayerx-sami</string>
				<string>org.niltsh.mplayerx-microdvd</string>
				<string>org.niltsh.mplayerx-vobsub</string>
				<string>public.plain-text</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>doc_video.icns</string>
			<key>CFBundleTypeName</key>
			<string>DVD Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.niltsh.mplayerx-dvdmedia</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc_video</string>
			<key>CFBundleTypeName</key>
			<string>General Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>MPlayerX.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.niltsh.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.14</string>
	<key>CFBundleSignature</key>
	<string>NILT</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Real Time (Streaming) Protocol</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rtp</string>
				<string>rtsp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>File over HTTP/HTTPS/FTP/UDP</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>icyx</string>
				<string>udp</string>
				<string>ftp</string>
				<string>http_proxy</string>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Microsoft Media Services</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mms</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Cuesheet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cue</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>CD/DVD Media</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dvdnav</string>
				<string>dvd</string>
				<string>vcd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1470</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>MPXCommitHash</key>
	<string>5d5f6925ee3d6a131e73a1c86e65776f648c26b1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009-2012, Zongyao QU</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>MPApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Advanced Audio Coding</string>
			<key>UTTypeIconFile</key>
			<string>doc_audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-aac</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/Advanced_Audio_Coding</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AC3 Audio</string>
			<key>UTTypeIconFile</key>
			<string>doc_audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-ac3</string>
			<key>UTTypeReferenceURL</key>
			<string>http://wiki.multimedia.cx/index.php?title=AC3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ac3</string>
					<string>a52</string>
					<string>eac3</string>
					<string>dts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Monkey Audio</string>
			<key>UTTypeIconFile</key>
			<string>doc_audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-monkeyaudio</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.monkeysaudio.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ape</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Free Lossless Audio Codec</string>
			<key>UTTypeIconFile</key>
			<string>doc_audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-flac</string>
			<key>UTTypeReferenceURL</key>
			<string>http://flac.sourceforge.net/format.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MIDI Audio</string>
			<key>UTTypeIconFile</key>
			<string>doc_audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-midi</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/Musical_Instrument_Digital_Interface#File_formats</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mid</string>
					<string>midi</string>
					<string>smf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Audio</string>
			<key>UTTypeIconFile</key>
			<string>doc_audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-matroska-audio</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.matroska.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mka</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Audio</string>
			<key>UTTypeIconFile</key>
			<string>doc_audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-ogg</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xiph.org/ogg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCM Audio</string>
			<key>UTTypeIconFile</key>
			<string>doc_audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-pcm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/Pulse-code_modulation</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pcm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DIVX Video</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-divx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.divx.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>divx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DV Video</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-dv</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/DV</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dv</string>
					<string>hdv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flash Video</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-flash-video</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/Flash_Video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
					<string>f4v</string>
					<string>f4p</string>
					<string>swf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG-2 Transport Stream</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-mts</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/.m2ts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m2t</string>
					<string>m2ts</string>
					<string>mts</string>
					<string>mtv</string>
					<string>ts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG-4 Video</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-m4v</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/M4V</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp4</string>
					<string>m4v</string>
					<string>mpg4</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-matroska-video</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.matroska.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
					<string>webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Material Exchange Format</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-mxf</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/Material_Exchange_Format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mxf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Video</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-ogg-video</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xiph.org/ogg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogm</string>
					<string>ogv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Real Media</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-rmvb</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.real.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rmvb</string>
					<string>rm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Video Object</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-video-object</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/VOB</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vob</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XVID Video</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-xvid</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.xvid.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xvid</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SubRip Subtitle</string>
			<key>UTTypeIconFile</key>
			<string>doc_sub</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-subrip</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/SubRip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>srt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MicroDVD Subtitle</string>
			<key>UTTypeIconFile</key>
			<string>doc_sub</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-microdvd</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/MicroDVD</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sub</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Advanced Substation Alpha/Substation Alpha</string>
			<key>UTTypeIconFile</key>
			<string>doc_sub</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-ass</string>
			<key>UTTypeReferenceURL</key>
			<string>http://code.google.com/p/libass</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ass</string>
					<string>ssa</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Direct VobSub</string>
			<key>UTTypeIconFile</key>
			<string>doc_sub</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-vobsub</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/DirectVobSub</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>idx</string>
					<string>sub</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SAMI Subtitle</string>
			<key>UTTypeIconFile</key>
			<string>doc_sub</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-sami</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/SAMI</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smi</string>
					<string>smil</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DVDMedia Content</string>
			<key>UTTypeIconFile</key>
			<string>doc_video</string>
			<key>UTTypeIdentifier</key>
			<string>org.niltsh.mplayerx-dvdmedia</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dvdmedia</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
